@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Questrial&display=swap');

*{
	background-color: 	#FFF5EE;

}
a:link{
	color: #000000;
}
#title{
	font-family: josefin sans;
	font-size: 20px;
	height: 50px;
}

#week1{
	font-family: josefin sans;
	font-size: 16px;
	width: 400px;
	height: 250px;
	display: inline-table;
	padding: 10px;
	border: 2px solid #FF4500;
	margin-top: 3px;
}

#week2{
	font-family: josefin sans;
	font-size: 16px;
	width: 400px;
	height: 250px;
	display: inline-table;
	padding: 10px;
	border: 2px solid #FF4500;
	margin-top: 3px;

}

#week3{
	font-family: josefin sans;
	font-size: 16px;
	width: 400px;
	height: 250px;
	display: inline-table;
	padding: 10px;
	border: 2px solid #FF4500;
	margin-top: 3px;
}
#week4{
	font-family: josefin sans;
	font-size: 16px;
	width: 400px;
	height: 250px;
	display: inline-table;
	padding: 10px;
	border: 2px solid #FF4500;
	margin-top: 3px;

}

#week5{
	font-family: josefin sans;
	font-size: 16px;
	width: 400px;
	height: 250px;
	display: inline-table;
	padding: 10px;
	border: 2px solid #FF4500;
	margin-top: 3px;

}



}
