@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans&family=Questrial&display=swap');

*{
	background-color: #ADD8E6;
}

#title{
	font-family: josefin sans;
	font-size: 24px;
}

#week1{
	font-family: josefin sans;
	background-color: #CCCCFF;
	font-size: 16px;
	width: 400px;
	height: 300px;
	display: inline-block;
	margin:auto;
	padding: 10px;
}

#week2{
	font-family: josefin sans;
	background-color: #9FE2BF;
	font-size: 16px;
	width: 400px;
	height: 300px;
	display: inline-block;
	margin:auto;
	padding: 10px;
}
